<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div class="topnav">
      <a href="{% url 'votacao:index' %}">Home</a>

      {% if not request.user.is_authenticated %}
        <a href="{% url 'votacao:login_view' %}">Login</a>
      {%else%}
        <a href="{% url 'votacao:mostra_detalhes' %}"> Perfil</a>

        <a href="{% url 'votacao:logoutview' %}"> Logout</a>
      {% endif %}

    </div>


{% block conteudo %}
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <h1>Olá admin {{request.user.username}}</h1>
    {% elif request.user.is_authenticated %}
    <h1>Olá {{request.user.username}}</h1>
    {% else %}
    <h1>Bem vindo! Você não está logado</h1>
    {% endif %}


    <h5>Admin para poupar o professor ao testar: Username é "zezinho" e password é 12345</h5>

    {% if latest_question_list %}  <!--#instrucao em python-->
        <ul>
        {% for questao in latest_question_list %}
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}"> {{questao.questao_texto}}</a>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Nao ha questoes disponiveis.</p>
    {% endif %}

    {%  if request.user.is_superuser %}
    <p> <button> <a href="{% url 'votacao:formQuestao' %}"> Criar nova questão</a></button>  </p>
    {% endif %}

    <br>
{% endblock %}
<!--    {% if not request.user.is_authenticated %}-->
<!--    <p> <button> <a href="{% url 'votacao:login_view' %}"> Fazer login</a></button></p>-->
<!--    <br>-->
<!--    <p> <button> <a href="{% url 'votacao:form_register' %}"> Não tem conta? Registe-se!</a></button></p>-->
<!--    {% endif %}-->



<!--    {% if request.user.is_authenticated %}-->
<!--    <p> <button> <a href="{% url 'votacao:mostra_detalhes' %}"> Detalhes da conta</a></button></p>-->
<!--    <br>-->
<!--    <p> <button> <a href="{% url 'votacao:logoutview' %}"> Fazer logout</a></button></p>-->
<!--    {% endif %}-->


</body>
</html>