<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    if request.user.is_authenticated and request.user.is_superuser-->

    <!--{{variavel}} significa que vai substituir por um valor da variavel enviada pelo dicionario da view
    pagina 19-->
    {% if latest_question_list %}  <!--#instrucao em python-->
        <ul>
        {% for questao in latest_question_list %}
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}"> {{questao.questao_texto}}</a>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Nao ha questoes disponiveis.</p>
    {% endif %}

    <p> <a href="{% url 'votacao:formQuestao' %}"> Criar nova questão</a></p>



<p> A fruta é {{fruta}}</p>
</body>
</html>