<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--{{variavel}} significa que vai substituir por um valor da variavel enviada pelo dicionario da view
    -->
    {% if latest_question_list %}  <!--#instrucao em python-->
        <ul>
        {% for questao in latest_question_list %}
            <li>
                <a href="/votacao/{{ questao.id }}"> {{ questao.questao_texto }}</a>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Nao ha questoes disponiveis.</p>
    {% endif %}





<!--pag 15  guiao -->










<p> A fruta é {{fruta}}</p>
</body>
</html>