<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet"  href="{%  static  'votacao/css/login.css'  %}">
</head>
<body>

 <div id="content-container" class="login-box">


            <form id="login-form" method="post" action="{% url 'votacao:dadosLogin_view' %}">
                        {% csrf_token %}
                <table class="table">
                    <tr class="user-box">
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username" type="text"></td>
                    </tr>
                    <tr class="user-box">
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password" type="password"></td>
                    </tr>
                </table>

<!--                <span></span>-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--                Submit-->
                <input type="submit" value="Login" class="a" />

                <p> <button> <a href="{% url 'votacao:register' %}"> Não tem conta? Registe-se!</a></button></p>

            </form>

            <br>

<!--            <p> <button> <a href="{% url 'votacao:logoutview' %}"> Fazer logout</a></button></p>-->


    </div>

</body>
</html>